@import url('https://fonts.googleapis.com/css?family=Rokkitt:300,400,500,700');


body {
    font-family: "rokkitt", serif;
    font-size: 2.5em;
    
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    
    width: 80vw;
}

@media all and (max-width: 100vh) {  /* mobile */
    h1 {
        font-size: 10vw;
    }
    
    h2 {
        font-size: 8vw;
    }
    
    h3 {
        font-size: 7vw;
    }
    
    p, li {
        font-size: 5vw;
    }
}

@media all and (min-width: 100vh) { /* desktop */
    h1 {
        font-size: 10vh;
    }
    
    h2 {
        font-size: 8vh;
    }
    
    h3 {
        font-size: 7vh;
    }
    
    p, li {
        font-size: 5vh;
    }
}


.page {
    width: 100%;
    max-width: 100vh;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2vw 2vw 2vw 2vw
}

.page > img {
    width: inherit;
    height: inherit;
}

body > img {
    max-width: 100%;
    max-height: 50vh;
    
    margin-left: 50%;
    transform: translate(-50%, 0);
}

a {
    text-decoration: none;
    color:hsl(215, 100%, 75%);
}

a:hover {
    color:hsl(215, 34%, 53%);
}

li {
    margin-left: 5%;
    margin-top: 0.5em;
}

input {
    width: 7vh;
    height: 7vh;
    
    position: fixed;
    top: 50vh;
    
    outline: none;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    
    background-color: #fcfcfc;
    background-size: 4vh;
    background-repeat: no-repeat;
    background-position: center;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

input:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nextButton {
    background-image: url("../assets/next.png"); 
    
    left: calc(98vw - 7vh);
}

.previousButton {
    background-image: url("../assets/previous.png"); 
    
    left: 2vw;
}